{% extends 'base.html.twig' %}

{% block title %}Página Inicial{% endblock %}


{% block body %}

<h2>Produtos em Destaque<h2>
  <div class="container">
    {% for item in destaque %}
    {{item}}
    {% endfor %}

  </div>
  
{% endblock %}
