{% extends 'base.html.twig' %}

{% block title %}Página Inicial{% endblock %}


{% block body %}

<h2>Produtos em Destaque<h2>
  <div class="container">
    <br>
    <p>Exibindo dois grandes produtos do nosso total de {{destaque.qtdProdutos}}</p>
    {% for item in destaque.produtosParaExibir %}
      {{item.nome}}
      <BR>
    {% endfor %}

  </div>

{% endblock %}
